@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins&display=swap');
*{
    font-family:poppins;
}
.employee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: black solid 1em;
  background-color: lightgrey;
  font-family: poppins;
}
h3 {
  text-align: center;
  font-size: 1.5em;
}
label {
  font: poppins;
  font-weight: bold;
  margin-left:4%;
  font-size: 1.2em;
}
.buttons {
  margin-top: 5%;
}
#viewbtn {
  font: poppins;
  margin-left: 25%;
  border: 0;
  background-color: black;
  padding: 1em;
  cursor: pointer;
  color: white;
}
#editbtn {
  margin-left: 35%;
  cursor: pointer;
  border: 0;
  background-color: black;
  padding: 1em;
  color: white;
  font: poppins;
}
#deletebtn {
  font: poppins;
  cursor: pointer;
  margin-left: 3%;
  border: 0;
  background-color: black;
  padding: 1em;
  color: white;
}
#viewbtn:hover, #editbtn:hover,#deletebtn:hover{
    background-color:lightblue;
    padding:0.85em;
    border:black solid 2px;
    color:black;
}
