 
<div class="employee" *ngIf="employee">
  <div class="grid">
    <div class="grid-content">
      <!--<h3 [routerLink]="['/employees',employee.id]">Employee Details</h3>-->
      <h3>Employee details</h3>
      <label>Id:</label> {{employee.id}}<br />
      <label>Username: </label>{{employee.username}}<br />
      <label>Name: </label>{{employee.name}}<br />
      <label>Email: </label>{{employee.email}}<br />
      <label>Designation: </label>{{employee.designation}}<br />
      <label>Gender: </label>{{employee.gender}}<br />
      <label>Phone: </label>{{employee.phone_number}}<br />
      <label>Address: </label>{{employee.complete_address}}<br />
      <div class="buttons">
        <!--<button class="btn btn-primary" id="viewbtn" [routerLink]="['employees', employees.data.id]" (click)="showDetails()">View</button>-->
        <button id="editbtn" class="btn btn-danger" [routerLink]="['edit', employee.id]">Edit</button>
        <button class="btn btn-danger" id="deletebtn" (click)="handleDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
