@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Poppins&display=swap');
a{
    text-decoration:none;
    padding:1em;
    background-color:black;
    color:white;
}


.menubar {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
  background-color: black;
  padding: 1em 1.5em;
  height: 2em;
}

  .menubar > li {
    list-style-type: none;
  }

    .menubar > li > a {
      text-decoration: none;
      color: white;
      display: inline-flex;
      padding: 1.2em 1.5em;
      font-family: poppins;
      font-size: 1em;
    }

      .menubar > li > a:hover {
        background-color: lightblue;
        color: black;
      }

