<div class="employee-add">
  <form class="employee-add-form"
        (ngSubmit)="handleSubmit($event)"
        [formGroup]="employeeForm">
    <fieldset class="fieldset">
      <legend class="legend">Edit employee details</legend>
      <div class="input-group">
        <label for="Id" class="input-label">Employee Id</label>
        <input type="number"
               min="1"
               max="999"
               class="input-control"
               name="Id"
               placeholder="Employee Id here"
               id="id"
               formControlName="id" />
        <small *ngIf="employeeForm.get('id').invalid && employeeForm.get('id').dirty" class="input-error">Id is required</small>
      </div>
      <div class="input-group">
        <label for="Name" class="input-label">Name</label>
        <input type="text"
               class="input-control"
               name="name"
               placeholder="Employee FulName"
               id="name"
               formControlName="name" />
        <small *ngIf="employeeForm.get('name').invalid && employeeForm.get('name').dirty" class="input-error">Name is required</small>
      </div>
      <div class="input-group">
        <label for="email" class="input-label">Email</label>
        <input type="text"
               class="input-control"
               email="email"
               placeholder="Employee Full email"
               id="email"
               formControlName="email" />
        <small *ngIf="employeeForm.get('email').invalid && employeeForm.get('email').dirty" class="input-error">Email Id is required</small>
      </div>
      <div class="input-group">
        <label for="category" class="input-label">Gender category</label>
        <select class="input-control"
                name="category"
                id="category"
                formControlName="category">
          <option value="" disabled selected>Select a category</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="trans-gender">Trans Gender</option>
          <option value="none">Prefer not to say</option>
        </select>
        <small *ngIf="employeeForm.get('category').invalid && employeeForm.get('category').dirty" class="input-error">Gender is required</small>
      </div>
      <div class="input-group">
        <label for="designation" class="input-label">Designation</label>
        <input type="text"
               class="input-control"
               designation="designation"
               placeholder="Employee designation"
               id="designation"
               formControlName="designation" />
        <small *ngIf="employeeForm.get('designation').invalid && employeeForm.get('designation').dirty" class="input-error">Designation is required</small>
      </div>
      <div class="input-group">
        <label for="phonenumber" class="input-label">Phone Number</label>
        <input type="text"
               class="input-control"
               phonenumber="phonenumber"
               placeholder="Phone Number"
               id="phonenumber"
               formControlName="phonenumber" />
        <small *ngIf="employeeForm.get('phonenumber').invalid && employeeForm.get('phonenumber').dirty" class="input-error">Phone Number is required</small>
      </div>
      <div class="input-group">
        <label for="complete_address" class="input-label">Address</label>
        <input type="text"
               class="input-control"
               complete_address="complete_address"
               placeholder="Complete Address"
               id="completeaddress"
               formControlName="completeaddress" />
        <small *ngIf="employeeForm.get('completeaddress').invalid && employeeForm.get('completeaddress').dirty" class="input-error">Address is required</small>
      </div>


      <div class="input-group align-center">
        <button type="submit"
                class="btn btn-danger" (click)="handleSubmit($event)">
          Edit
        </button>
      </div>
    </fieldset>
  </form>
</div>
